<div class="card-group">
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="row card-header bg-transparent">
      <div style="width: 220px;" class="wrap">{{ movie.name }}</div>
      <div>
        <span class="badge badge-pill badge-primary float-right">{{
          movie.releaseYear
        }}</span>
      </div>
    </div>
    <span class="badge badge-pill badge-success float-right">{{
      movie.genre
    }}</span>
    <div class="card-body">
      <img
        [src]="movie.image"
        alt="{{ movie.name }}"
        class="img-responsive"
        style="
          max-height: 170px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        "
      />
    </div>
    <div class="card-footer bg-transparent">
      <label class="card-text">
        Price : {{ movie.amount | currency: "INR":true }}/- </label
      ><br />
      <label class="card-text">Director : {{ movie.director }}</label
      ><br />
      <label class="card-text">Quantity : {{ movie.quantity }}</label>
    </div>
    <div class="row card-footer bg-transparent">
      <a class="btn btn-primary" routerLink="/cart" (click)="addToCart(movie)"
        ><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon> Add to Cart</a
      >
      <a href="#" class="btn btn-primary col-md-6"
        ><fa-icon [icon]="['fas', 'info']"></fa-icon> Details</a
      >
    </div>
  </div>
</div>
