<!--Section: Block Content-->
<div class="row justify-content-between">
  <div>
    <h3><fa-icon [icon]="['fas', 'star']"></fa-icon> My Wishlist</h3>
  </div>
  <button class="btn btn-primary" routerLink="/catalog">
    <fa-icon [icon]="['fas', 'arrow-left']"> </fa-icon> Continue Shopping
  </button>
</div>

<hr />

<section>
  <div
    class="row mb-4"
    *ngFor="
      let movie of movies
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
      let i = index
    "
  >
    <div class="col-md-5 col-lg-3 col-xl-3">
      <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
        <img class="img-fluid w-100" [src]="movie.image" alt="Sample" />
      </div>
    </div>
    <div class="col-md-7 col-lg-9 col-xl-9">
      <div class="row">
        <div class="col-lg-7 col-xl-7">
          <h5>{{ movie.name }}</h5>
          <p class="mb-2 text-muted text-uppercase small">{{ movie.type }}</p>
          <hr />
          Director : {{ movie.director }} <br />
          Release Year : {{ movie.releaseYear }} <br />
          Rating : <ngb-rating [rate]="movie.rating"></ngb-rating> <br />Stock :
          {{ movie.quantity - cartCount }}
          <hr />
          <p class="mb-lg-0">
            {{ movie.description }}
          </p>
        </div>
        <div class="col-lg-5 col-xl-5">
          <h6 class="mb-3">
            <span>{{ movie.amount | currency: "INR":true }}</span>
          </h6>
          Rating : <ngb-rating [rate]="movie.rating"></ngb-rating>
          <br />
          <br />
          <button
            type="button"
            class="btn btn-primary col-md-5"
            (click)="addToCart(movie)"
            routerLink="/cart"
          >
            <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon> Add to cart
          </button>
          <button
            type="button"
            class="btn btn-light col-md-4"
            [routerLink]="['/movies', movie.id]"
          >
            <fa-icon [icon]="['fas', 'info']"></fa-icon> Details
          </button>
          <button
            type="button"
            class="btn btn-danger col-md-2"
            (click)="onDelete(i)"
          >
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<ngb-pagination
  [collectionSize]="70"
  [(page)]="page"
  [boundaryLinks]="true"
  aria-label="Default pagination"
  class="d-flex justify-content-center"
></ngb-pagination>
<!--Section: Block Content-->
