<!-- <div class="row">
  <div>
    <button class="btn btn-success">New Movie</button>
  </div>
</div> -->
<hr />
<div class="row">
  <app-book-single
    *ngFor="
      let bookSingle of books
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
      let i = index
    "
    [book]="bookSingle"
    [index]="i"
  >
  </app-book-single>
</div>
<ngb-pagination
  [collectionSize]="70"
  [(page)]="page"
  [boundaryLinks]="true"
  aria-label="Default pagination"
  class="d-flex justify-content-center"
></ngb-pagination>
