.btn {
    margin: 2px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.myTooltip {
    font-size: 15px;
}

.myTooltip-red {
    font-size: 15px;
    background: red;
}

.myImage {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s;
}

.myImage:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.myCard {
    position: relative;
    transition: transform 0.2s;
    box-sizing: border-box;
}

.myCard:hover {
    transform: scale(1.1);
    z-index: 99999;
}