<!--Main layout-->
<div class="row justify-content-between">
  <div>
    <h3><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon> Checkout</h3>
  </div>
  <button class="btn btn-primary" routerLink="/catalog">
    <fa-icon [icon]="['fas', 'arrow-left']"> </fa-icon> Continue Shopping
  </button>
</div>

<hr />
<div class="container wow fadeIn">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card">
        <form
          class="card-body"
          [formGroup]="UserProfileForm"
          (ngSubmit)="onSubmit(UserProfileForm.value)"
        >
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="md-form">
                <input
                  type="text"
                  formControlName="fullName"
                  class="form-control"
                />
                <label for="fullName" class="">Full name</label>
              </div>
            </div>
          </div>

          <div class="md-form input-group pl-0 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input
              type="text"
              class="form-control py-0"
              placeholder="Username"
              aria-describedby="basic-addon1"
              formControlName="username"
            />
          </div>

          <hr />

          <div class="mb-2">
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="youremail@example.com"
            />
            <label for="email" class="">Email</label>
          </div>

          <div class="mb-2">
            <input
              type="text"
              formControlName="address"
              class="form-control"
              placeholder="1234 Main St"
            />
            <label for="address" class="">Address</label>
          </div>

          <hr />

          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <label for="country">Country</label>
              <input
                type="text"
                class="form-control"
                formControlName="country"
                placeholder="Country"
                required
              />
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <label for="state">State</label>
              <input
                type="text"
                class="form-control"
                formControlName="state"
                placeholder="State"
                required
              />
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <label for="zip">Zip</label>
              <input
                type="text"
                class="form-control"
                formControlName="zip"
                placeholder=""
                required
              />
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="cc-name">Enter UPI Id</label>
              <input
                type="text"
                class="form-control"
                formControlName="upi"
                placeholder=""
                required
              />
              <small class="text-muted"
                >Upi id should be connected to your bank account</small
              >
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
          </div>
          <hr class="mb-4" />
          <button
            class="btn btn-success btn-lg btn-block"
            type="submit"
            [disabled]="!UserProfileForm.valid"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            Continue to checkout
          </button>
        </form>
      </div>
      <!--/.Card-->
    </div>

    <div class="col-md-4 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="">Your cart</span>
      </h4>

      <!-- Cart -->
      <ul class="list-group mb-3 z-depth-1">
        <li
          class="list-group-item d-flex justify-content-between lh-condensed"
          *ngFor="let item of cartItems; let i = index"
        >
          <div>
            <a class="sm" (click)="onDelete(i)" style="cursor: pointer;">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </a>
          </div>
          <div class="col-md-8 text-left">
            <h6 class="my-0">{{ item.name }}</h6>
            <small class="text-muted">{{ item.type }}</small>
          </div>
          <span class="text-muted">{{
            item.amount | currency: "INR":true
          }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <span>Shipping</span>
          <strong>{{ shipping | currency: "INR":"symbol" }}</strong>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <span>Total (INR)</span>
          <strong>{{ cartTotal + shipping | currency: "INR":"symbol" }}</strong>
        </li>
      </ul>
      <!-- Cart -->
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Order</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card" *ngFor="let cust of customer">
          <div class="card-header">
            Shipping Details
          </div>
          <div class="card-body">
            <Table>
              <tr>
                <td>Name</td>
                <td>:</td>
                <td>{{ cust.Name }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>:</td>
                <td>{{ cust.Address }}</td>
              </tr>
              <tr>
                <td>UPI Id</td>
                <td>:</td>
                <td>{{ cust.UpiId }}</td>
              </tr>
            </Table>
          </div>
          <div class="card-footer">
            <Table>
              <tr>
                <td>Total Amount</td>
                <td>:</td>
                <td>{{ cartTotal + shipping | currency: "INR":"symbol" }}</td>
              </tr>
            </Table>
          </div>
          <br />
          <div class="content">
            <div class="">
              <div>
                <div class="card text-center">
                  <p style="padding-top: 20px;">Enter OTP</p>
                  <ng-otp-input
                    #ngOtpInput
                    (onInputChange)="onOtpChange($event)"
                    *ngIf="showOtpComponent"
                    [config]="config"
                    style="padding: 20px;"
                  ></ng-otp-input>
                  <span *ngIf="otp" style="padding-bottom: 20px;"
                    >Entered otp : {{ otp }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="onClear()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="verifyOtp()">
            Confirm Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
