<div class="row justify-content-between">
  <div>
    <h3><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon> My Cart</h3>
  </div>
  <button class="btn btn-primary" routerLink="/catalog">
    <fa-icon [icon]="['fas', 'arrow-left']"> </fa-icon> Continue Shopping
  </button>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Product</th>
              <th scope="col">Availability</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let movie of movies
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
              let i = index
            "
          >
            <tr>
              <td>
                <img
                  [src]="movie.image"
                  style="
                    max-height: 170px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                  "
                />
              </td>
              <td class="text-left">
                <h5>{{ movie.name }}</h5>
                <br />
                Director : {{ movie.director }} <br />
                Release Year : {{ movie.releaseYear }} <br />
                Rating : <ngb-rating [rate]="movie.rating"></ngb-rating>
                <br />Stock : {{ movie.quantity - cartCount }}
              </td>
              <td>
                {{ movie.quantity > 0 ? "In Stock" : "Stock Out" }}
              </td>
              <td class="row">
                <input
                  type="number"
                  class="form-control col-md-4"
                  style="margin: auto;"
                  [(ngModel)]="cartCount"
                  min="1"
                />
              </td>
              <td>
                {{ movie.amount | currency: "INR":true }}
              </td>
              <td>
                {{ movie.amount * cartCount | currency: "INR":true }}
              </td>
              <td class="text-center">
                <button class="btn btn-danger" (click)="onDelete(i)">
                  <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">555 €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">6,90 €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>346,90 €</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12 col-md-12 text-right">
          <button class="btn btn-success text-uppercase" routerLink="/checkout">
            Checkout <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  [collectionSize]="70"
  [(page)]="page"
  [boundaryLinks]="true"
  aria-label="Default pagination"
  class="d-flex justify-content-center"
></ngb-pagination>
<br />
<br />
